@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,900,700);

body {
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	max-width: 960px;
}

/*
 * Header and navbar
 */

.navbar-header {
	height: 68px;
	background-color: #F8F8F8;
}

.navbar-brand {
	font-size: 26px;
	line-height: 35px;
}

.navbar-toggle {
	margin-top: 18px;
}

.navbar-nav {
	font-size: 16px;
	text-transform: uppercase;
}

.navbar {
	border-radius: 0px;
}

.navbar-brand > img {
	height: 66px;
	display: block;
	margin-top: -13px;
}

.header-button {
	background: #EA2E49;
	color: white;
}

@media (min-width: 768px) {
	.navbar-nav > li {
		margin-top: 8px;
	}
}

.fill-screen {
	margin-top: -40px;
	background-size: cover;
	background-position: center;
	height: 500px;
}

.fill-screen > h2 {
	color: white;
	padding-top: 125px;
	font-size: 50px;
}

.fill-screen > h1 {
	color: white;
	font-size: 50px;
	font-weight: 700;
	margin-top: 0px;
}

.fill-screen > p {
	color: white;
	font-size: 24px;
	font-weight: 300;
	margin-top: 80px;
}

.section-heading {
	font-size: 36px;
	font-weight: 700;
	color: #333745;
}

/*Event & News Section*/
.info-box {
	max-width: 450px;
	background: #fff;
	border-radius: 4px;
	font-size: 18px;
	color: #333745;
	text-align: center;
	padding: 15px;
	margin: 10px;
}
.info-box-icons {
	font-size: 50px;
	left: -23px;
	top: 2px;
	color: #EA2E49;
}

.info-box-text {
	font-size: 22px;
	font-weight: 400;
	margin-left: -50px;
	margin-top: 2px;
	text-align: left;
}
/*Work Section*/
.demo-card-square.mdl-card {
	width: 300px;
	height: 300px;
}
.demo-card-square > .mdl-card__title {
	color: #fff;
	background: url(../images/.jpg) bottom right 15% no-repeat #46B6AC;
	background-position: top;
}
.section-1 {
	background: #F8F8F8;
	padding-top:20px;
	padding-bottom: 60px;
}
.section-2 {
	padding-top:20px;
	padding-bottom: 100px;
	position:relative;
}

.work-button {
	position: absolute;
	right: 1px;
	position: absolute;
    right: 198px;
    bottom: 34px;
    color: #EA2E49;
	
}

